{%  load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Spotter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">
    
    <link rel="manifest" href="{% static 'assets/img/site.webmanifest' %}">
    <link rel="shortcut icon" type="image/x-icon" href=" {% static 'assets/img/favicon.png' %}?v=2">

    <!-- CSS here -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/slicknav.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/flaticon.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/gijgo.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/animate.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/animated-headline.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/magnific-popup.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/fontawesome-all.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/themify-icons.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/slick.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/nice-select.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/style.css' %} ">
</head>
<style>
    .gallery-img.big-img.strong{
        background-image: url("{% static 'assets/img/gallery/strongman.png' %}");
    }
    .gallery-img.big-img.power{
        background-image: url("{% static 'assets/img/gallery/gallery2.png' %}");
    }
    .gallery-img.big-img.weight{
        background-image: url("{% static 'assets/img/gallery/snatch.png' %}");
    }
    .gallery-img.big-img.body{
        background-image: url("{% static 'assets/img/gallery/gallery4.png' %}");
    }
    .gallery-img.big-img.track{
        background-image: url("{% static 'assets/img/gallery/javeline.png' %}");
    }
    .gallery-img.big-img.gym{
        background-image: url("{% static 'assets/img/gallery/vault.png' %}");
    }
</style>
<div id="toast-container" style="position: fixed; top: 30px; right: 30px; z-index: 9999;">
    {% if messages %}
        {% for message in messages %}
            <div class="spotter-toast">
                <span class="toast-icon">⚠</span>
                <span class="toast-text">{{ message }}</span>
                <button class="toast-close" onclick="this.parentElement.remove()">&times;</button>
            </div>
        {% endfor %}
    {% endif %}
</div>
<body class="black-bg">
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src=" {% static 'assets/img/logo/loder.png' %} " alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src=" {% static 'assets/img/logo/logo.png' %} " alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="about">About</a></li>
                                    <li><a href="courses">Courses</a></li>
                                    <li><a href="calorie">Calorie</a></li>
                                    <li><a href="sport">Sport</a></li>
                                    <li><a href="blog">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="blog">Blog</a></li>
                                            <li><a href="blog_details">Post Blog</a></li>
                                            <!-- <li><a href="elements">Elements</a></li> -->
                                        </ul>
                                    </li>
                                    <li><a href="contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>          
                        <!-- Header-btn -->
                        {% if user.is_authenticated %}
                        <div class="header-btns d-none d-lg-block f-right">
                            <a href="signout" class="btn">Log Out</a>
                        {% else %}
                            <a href="signup" class="btn">Log In</a>
                        </div>
                        {% endif %}
                       <!-- Mobile Menu -->
                       <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Header End -->
    </header>
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>Iorn Sports</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    
    <!--? Gallery Area Start -->
    <section>
    <form method ="POST" action="{% url 'sport' %}">
        {% csrf_token %}
    <div class="gallery-area">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="gallery-img big-img weight"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Weight Lifting </h3>
                                
                                <a href="{% url 'weight_lifiting' %}"><i class="ti-layout-column2-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="gallery-img big-img power"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Power Lifting </h3>
                                
                                <a href="{% url 'power_lifiting' %}"><i class="ti-bolt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="gallery-img big-img strong"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Strong Man </h3>
                                <a href="{% url 'strong_man' %}"><i class="ti-user"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="gallery-img big-img body"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Body Buliding </h3>
                                <a href="{% url 'body_building' %}"> <i class="ti-crown"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="gallery-img big-img track"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Track & Field </h3>
                                <a href="{% url 'track_field' %}"><i class="ti-timer"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                        <div class="gallery-img big-img gym"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Gymnastics </h3>
                                <a href="{% url 'gym_nastics' %}"><i class="ti-infinite"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    </section>
    <!-- Gallery Area End -->
    <!-- ? services-area -->
    <section class="services-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="features-icon" >
                            
                            <img src=" {% static 'assets/img/icon/icon1.png' %}?v=2 " alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Location</h3>
                            <p>Thoothukudi,</p><p>Tamil Nadu - 628401</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="features-icon">
                            <img src=" {% static 'assets/img/icon/icon2.png' %}?v=2 " alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Phone</h3>
                            <p>(91+) 0461 9257</p>
                            <p>  (91+) 934 244 9257</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="features-icon">
                            <img src=" {% static 'assets/img/icon/icon3.png' %}?v=2 " alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Email</h3>
                            <p>spotter3x10@gmail.com</p>
                            <p>spotter3x3contact@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <!--? Footer Start-->
    <div class="footer-area black-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- Footer Menu -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-footer-caption mb-50 text-center">
                            <!-- logo -->
                            <div class="footer-logo wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <a href="index"><img src=" {% static 'assets/img/logo/logo2_footer.png' %} " alt=""></a>
                            </div>
                            <!-- Menu -->
                            <!-- Header Start -->
                            <div class="header-area main-header2 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                                <div class="main-header main-header2">
                                    <div class="menu-wrapper menu-wrapper2">
                                        <!-- Main-menu -->
                                        <div class="main-menu main-menu2 text-center">
                                            <nav>
                                                <ul>
                                                    <li><a href="/">Home</a></li>
                                                    <li><a href="about">About</a></li>
                                                    <li><a href="courses">Courses</a></li>
                                                    <li><a href="calorie">Calorie</a></li>
                                                    <li><a href="sport">Gallery</a></li>
                                                    <li><a href="contact">Contact</a></li>
                                                </ul>
                                            </nav>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                            <!-- Header End -->
                            <!-- social -->
                            <div class="footer-social mt-30 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".8s">
                                <a href="https://x.com/Spotter26425899"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/profile.php?id=61583796562346"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://in.pinterest.com/spotter3x10/"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- Footer End-->
</footer>

<!-- Chat Button -->
<div id="chat-btn">
  <span class="ring ring-1"></span>
  <span class="ring ring-2"></span>
  <span class="ring ring-3"></span>
  <span class="arc-ring">
    <svg viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="31" cy="31" r="29" stroke="#FF0000" stroke-width="1.2"
        stroke-dasharray="40 10 15 60" stroke-linecap="round" opacity="0.7"/>
    </svg>
  </span>
  <span class="arc-ring arc-ring-2">
    <svg viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="31" cy="31" r="29" stroke="#FF4444" stroke-width="0.8"
        stroke-dasharray="8 22 30 10 5 30" stroke-linecap="round" opacity="0.5"/>
    </svg>
  </span>
  <span class="dot-orbit"></span>
  <span class="dot-orbit dot-orbit-2"></span>
  <a href="/chat/" title="Chat with Spotter" aria-label="Open chat">
    <i class="fas fa-robot"></i>
  </a>
</div>

  <!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href=" {% static '#' %} "> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toasts = document.querySelectorAll('.spotter-toast');
        toasts.forEach(toast => {
            // Wait 5 seconds, then fade out
            setTimeout(() => {
                toast.style.animation = "fadeOut 0.5s ease forwards";
                setTimeout(() => toast.remove(), 500);
            }, 5000);
        });
    });
</script>
<script src=" {% static './assets/js/vendor/modernizr-3.5.0.min.js' %} "></script>
<!-- Jquery, Popper, Bootstrap -->
<script src=" {% static './assets/js/vendor/jquery-1.12.4.min.js' %} "></script>
<script src=" {% static './assets/js/popper.min.js' %} "></script>
<script src=" {% static './assets/js/bootstrap.min.js' %} "></script>
<!-- Jquery Mobile Menu -->
<script src=" {% static './assets/js/jquery.slicknav.min.js' %} "></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src=" {% static './assets/js/owl.carousel.min.js' %} "></script>
<script src=" {% static './assets/js/slick.min.js' %} "></script>
<!-- One Page, Animated-HeadLin -->
<script src=" {% static './assets/js/wow.min.js' %} "></script>
<script src=" {% static './assets/js/animated.headline.js' %} "></script>
<script src=" {% static './assets/js/jquery.magnific-popup.js' %} "></script>

<!-- Date Picker -->
<script src=" {% static './assets/js/gijgo.min.js' %} "></script>
<!-- Nice-select, sticky -->
<script src=" {% static './assets/js/jquery.nice-select.min.js' %} "></script>
<script src=" {% static './assets/js/jquery.sticky.js' %} "></script>

<!-- counter , waypoint,Hover Direction -->
<script src=" {% static './assets/js/jquery.counterup.min.js' %} "></script>
<script src=" {% static './assets/js/waypoints.min.js' %} "></script>
<script src=" {% static './assets/js/jquery.countdown.min.js' %} "></script>
<script src=" {% static './assets/js/hover-direction-snake.min.js' %} "></script>

<!-- contact js -->
<script src=" {% static './assets/js/contact.js' %} "></script>
<script src=" {% static './assets/js/jquery.form.js' %} "></script>
<script src=" {% static './assets/js/jquery.validate.min.js' %} "></script>
<script src=" {% static './assets/js/mail-script.js' %} "></script>
<script src=" {% static './assets/js/jquery.ajaxchimp.min.js' %} "></script>

<!-- Jquery Plugins, main Jquery -->	
<script src=" {% static './assets/js/plugins.js' %} "></script>
<script src=" {% static './assets/js/main.js' %} "></script>

</body>
</html>